<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Unit Farming</title>

	<!-- Custom CSS -->
	<link href="files/css/normalize.css" rel="stylesheet">
	<link href="files/css/ef.css" rel="stylesheet">

	<script src="files/js/lodash.min.js"></script>
	<script src="files/js/vue.min.js"></script>
	<script src="files/js/sortable.js"></script>
	<script src="files/js/data.js" defer></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UAp;126251816-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
		gtag('config', 'UA-126251816-1');
	</script>
</head>

<body>
<div id="app" class="container">
	<!--
	Credits and importants messages
	-->
	<center><h1><b>!!! DEV VERSION !!!</b><br/> Everything can change and you can lose your datas<h1><br/>
	<h1>Please contact me on Discord (<b>Adeuxline#6320</b>) if you have ideas, recommandations or anything else to say :-)<h1>
	<h2>Don't forget to visit my <a href="http://adeuxline.github.io/pet-farming">pet-farming website</a></h2></center>
	<div id="petInputs">
		<div class="petInput" v-for="pet in orderedPetList">
		<div v-if="pet.img !== 0">
		<a id="${pet.img}-pet" :href="`https://www.endlessfrontierdata.com/units/${pet.img}`" :class="pet.fragments < pet.needed ? 'oneStar' : 'twoStar'">
				<img :src="`https://www.endlessfrontierdata.com/images/units/${pet.img}.png`">
			</a>
			<div>
				<span class="petName">{{ pet.fragments }} / {{ pet.needed }} Senior {{ pet.name }}</span><br/>
				<p :class=" (pet.fragments * pet.caract1_6 + pet.fragments_n * pet.caract1_5 ) >= pet.caract1_max ? 'bonusok' : 'bonusnonok'" v-if="pet.caract1_5">Bonus 1: {{ pet.fragments * pet.caract1_6 + pet.fragments_n * pet.caract1_5 }} / {{ pet.caract1_max }}</p><p v-else><br/></p>
				<p :class=" (pet.fragments * pet.caract2_6 + pet.fragments_n * pet.caract2_5 ) >= pet.caract2_max ? 'bonusok' : 'bonusnonok'" v-if="pet.caract2_5">Bonus 2: {{ pet.fragments * pet.caract2_6 + pet.fragments_n * pet.caract2_5}} / {{ pet.caract2_max }}</p><p v-else><br/></p>
				<input v-model.number="pet.fragments" type="number" step="1" min="0" max="999" style="clear:both;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input v-model.number="pet.fragments_n" type="number" step="1" min="0" max="999" style="clear:both;">
			</div>
		</div>
		</div>
	</div>
</div>

</body>

</html>
